@model IEnumerable<NMS.Models.MailboxViewModels.Mailbox>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SendEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeleteOpt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attachment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audiomessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audioname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audiosize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkCustomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fax)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteOpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audiomessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audioname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audiosize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmailbox">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idmailbox">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmailbox">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
