@model IEnumerable<NMS.Models.CarrierViewModels.Carrier>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoutingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preference)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preference)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcarrier">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcarrier">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcarrier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
