@model IEnumerable<NMS.Models.CustomerViewModels.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoutingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultBillingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NonGeo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkExceptionLcr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlockAnonymous)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customercol)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultBillingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonGeo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkExceptionLcr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockAnonymous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customercol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
