@model IEnumerable<NMS.Models.IvrActionViewModels.Ivraction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FkIvr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkIvrDest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkContactDest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkAnnouncementDest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkMailboxDest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoicemailMain)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkIvr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIvrDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkContactDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAnnouncementDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMailboxDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoicemailMain)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
