@model NMS.Models.CarrierNumberExceptionViewModels.CarrierNumberException

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarrierNumberException</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkCarrier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkCarrier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkExceptionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkExceptionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkExceptionLcr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkExceptionLcr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdcarrierNumberException">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
