@model IEnumerable<NMS.Models.DayDetailsViewModels.Daydetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkPeriod)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPeriod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IddayDetails">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IddayDetails">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IddayDetails">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
