@model IEnumerable<NMS.Models.GroupTemplateViewModels.GroupTemplate>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FkGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkTemplate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkRoutingGroup)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkRoutingGroup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdgroupTemplate">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdgroupTemplate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdgroupTemplate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
