@model IEnumerable<NMS.Models.AnnouncementViewModels.Announcement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audiomessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audioname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Audiosize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Repeattimes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkCustomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkContact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InProgress)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audiomessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audioname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audiosize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeattimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InProgress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idannouncement">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idannouncement">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idannouncement">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
